.about__theodor-logo {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .about__theodor-logo {
        grid-row-start: 2;
        grid-row-end: 3;
        height: 660px;
    }
}
