.about__image_small {
    display: none;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .about__image_small {
        display: block;
        margin: 100px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .about__image_small {
        margin: 80px auto 0;
    }
}
