.prices__table-text {
    display: flex;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

@media screen and (max-width: 1440px) {
    .prices__table-text {
        font-size: 21px;
    }
}

@media screen and (max-width: 1280px) {
    .prices__table-text {
        font-size: 19px;
    }
}

@media screen and (max-width: 1024px) {
    .prices__table-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .prices__table-text {
        font-size: 19px;
    }
}
