.about__sign-image {
    margin: 0 auto 0;
    width: 90%;
}

@media screen and (max-width: 640px) {
    .about__sign-image {
        width: 72%;
        /* align-self: center; */
        margin: 0 auto;
    }
}
