.barbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 660px; */
}

@media screen and (max-width: 640px) {
    .barbers {
        grid-template-columns: 1fr;
    }
}
