.header__contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width: 640px) {
    .header__contact {
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 0 auto 80px;
    }
}
