.prices {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 660px; */
}

@media screen and (max-width: 640px) {
    .prices {
        grid-template-columns: 1fr;
        /* grid-template-rows: 660px; */
    }
}
