.about__paragraph {
    margin: 0 auto 6%;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    max-width: 90%;
}

@media screen and (max-width: 640px) {
    .about__paragraph {
        text-align: center;
        max-width: 75%;
    }
}
