.barbers__item {
    height: 660px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1640px) {
    .barbers__item {
        /* height: unset; */
    }
}
