.about__paragraph_red {
    margin-top: 16.5%;
    color: #ef6260;
}

@media screen and (max-width: 1620px) {
    .about__paragraph_red {
        margin-top: 12%;
    }
}

@media screen and (max-width: 640px) {
    .about__paragraph_red {
        margin-top: 8%;
    }
}
