.about__text {
    margin: 0 auto;
    height: 100%;
}

@media screen and (max-width: 640px) {
    .about__text {
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 80px;
    }
}
