/* .about__theodor-logo-container {
    margin: 0 auto;
    width: 67%;
    height: 87%;
    align-self: center;
}

@media screen and (max-width: 1440px) {
    .about__theodor-logo-container {
        width: 75%;
    }
}

@media screen and (max-width: 1280px) {
    .about__theodor-logo-container {
        width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    .about__theodor-logo-container {
        width: 85%;
    }
} */
